body{
    margin:0;
    font-family:Arial,sans-serif;
    background:linear-gradient(#2b6cb0,#63b3ed);
    color:white;
}
.app{
    max-width:1000px;
    margin:auto;
    padding:20px;
}
.navbar{
    background:rgb(255, 255, 255,0.15);
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding-bottom:15px;
    border-radius: 10px;
}
.e{
    height:20px;
    width:20px;
    border-radius:40px;
    margin-top: 10px;
}
.menu a {
    color:white;
    margin-left:20px;
    text-decoration:none;
}
.card{
   background:rgba(255,255,255,0.15);
   margin-top:10px;
   border-radius:15px;
   padding:30px;
   display:flex;
   justify-content:space-between;
   align-items:center;
}
.left:h1{
    margin:0;
}
.temp{
    font-size:60px;
    font-weight:bold;4
}
.center{
    font-size:80px;
}
.right input{
    padding:8px;
    border-radius:20px;
    border:none;
    outline:none;
}
.right button{
    padding:8px 15px;
    border-radius:20px;
    border:none;
    background: darkblue;
    color:white;
    margin-left: 5px;
    cursor:pointer;
}
.right p {
    margin:10px 0;
}

.h2{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0 15px;
    margin-top: 10px;
}
.h2 h2{
    font-size: 22px;
    font-weight: 600;
}
.forecast{
    display:flex;
    gap:15px;
}
.day{
    background:rgba(255,255,255,0.15);
    border-radius:15px;
    padding:15px;
    text-align:center;
    width:120px;
}
.a{
    height:80px;
    width:80px;
    border-radius:40px;
}
.b{
    height:30px;
    width:30px;
    border-radius:40px;
}
.c{
    height:30px;
    width:30px;
    border-radius:40px;
}
.d{
    height:30px;
    width:30px;
    border-radius:40px;
}

.weather-details{
    background:rgba(255,255,255,0.15);
    border-radius:15px;
    padding:20px;
    text-align:center;
    width:100px;
    height: 120px;
}
.weather-details .icon{
    margin-bottom:10px;
}
.weather-details .value{
    font-size:18px;
    font-weight:bold;
    margin-bottom: 10px;
}
.weather-details .value span{
    font-size:12px;
}
.weather-details .label{
    font-size:15px;
    margin-bottom: 10px;
}
.arrow{
    height:20px;
    width:20px;
    border-radius:40px;
}
.sun{
    height:20px;
    width:20px;
    border-radius:40px;
}
.drop{
    height:20px;
    width:20px;
    border-radius:40px;
}
.video{
    display:flex;
    gap:20px;
    padding: 20PX;
    
}
.video video{
    height:auto;
    width:48%;
    border-radius: 10px;
}
input[type="range"]{
    width:68%;
    margin: 10px;
}
input{
    border-radius: 5px;
}
textarea{
    border-radius: 15px;
}
.cty{
    width: 60%;
}
#date{
    width:60%;
}
#temp{
    width:10%;
}
.wspeed{
    width:52%;
}