.tables{
    border:1px solid black;
    padding:10px;
    background-color:skyblue;
    text-align: left;
    margin-top: 30px;
    margin-bottom: 30px;
}
.ths{
     border:1px solid black;
     padding: 8px;
     background-color:violet;
     color:black
}
.tds{
    border:1px solid black;
    padding: 8px;
    color:black
}